body {
  margin: 0;
  padding: 0;
  /* height: 100vh;
  width: 100vw; */
  font-family: 'Poppins', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-height:938px) and (max-width:2100px){
  
.bigCalendar-container{
  height: 45em;
}

.iconcolor{
  cursor: pointer;
  color: #3e48b8 ;
}

.headercss{
  height: 5em;
  background-color: #3767a7;
}


.sidebarcss{
  background-color:#e9e0c6;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

 .dropdown-menu {
  width: fit-content;
  height: 200px;
  /* display: inline-block; */
  overflow: scroll;
  overflow-x: hidden;
}

.show .dropdown-item{
  overflow: hidden;
  display: block;
}

.rbc-toolbar-label{
  text-transform: capitalize;
  font-weight: 700;
  margin-left: auto;
}

.rbc-month-view{
  font-weight: 700;
}

.rbc-month-header{
  text-transform: capitalize;
}

.rbc-btn-group{
  font-weight: 700;
}

  .mainCss{
    background-color: rgb(250, 250, 250);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }  

* {
  box-sizing: border-box;
}


/* componentes de pagina de login */

.LoginComponent{
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.02), rgba(177, 66, 149, 0.73)), url('./components/background_resize.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  overflow: hidden;
  position: relative;
  
}

.grameenSlogan{
  font-size: 5vw;  
  color: #ffffff;
  margin-top: 5vw;
  margin-left: 3rem;
  font-weight: 700;

}

.grameenSlogan span{
  opacity: 0.9;
  animation: text ease 4s;
}



.formLogin{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  color: #ffffff;
  position: absolute;
  margin-top: 14vh;
  height: 62vh;
  width: 40vh;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  right: 10px;
  justify-content: center;
  
}

.formLogin .padlock{
  text-align:center;
  color:#75a3df;
  opacity: 1;
  width:15vw;
  height: 15vh;
}


#email{
  height: 3.2em;
  font-size: 14px;
  margin-bottom: 1.5em;
}

#submitButton{
  height: 2.7em;
  width: 10em;
  margin-top: 2em;
  font-size: 1.1em;
  text-align: center;
  border-radius: 1.3em;
}


#passsword{
  height: 3.2em;
  font-size: 14px;
}

.footerLoginModal{
  font-size: 16px;
}

.resetPassword{
  margin-top: 2em;
  font-size: 1em;
}

.iconBell{
  color:rgb(235, 31, 31);
  cursor: pointer;
  font-size: 34px;
}

}

/* estilos para pantalla mediana */
@media screen and (max-height:937px) and (max-width:1600px) {
  .headercss{
    height: 5em;
  }
  .headercss h2{
    font-size: 32px;
  }

  .sidebarCss h3{
    font-size: 20px;
  }
  div.row.form-group{
    font-size: 12px;
    
  }
  
  div.row.form-group input{
    height: 30px;
    font-size: 14px;
  }
  #tipoEvento{
    height: 30px;
    font-size: 14px;
  }
  div.row.form-group .dropdown button{
    font-size: 14px;
    height: 30px;
  }
  div.justify-content-center.row.form-group button{
    margin-inline: 1rem;
    border-radius: 15px;
    font-size: 13px;
    /* height: 30px; */
  }

  .sidebarcss .row h4{
    margin-top: 0.1rem;
    font-size: 18px;
  }


  .iconBell{
    font-size: 28px;
    color:rgb(235, 31, 31);
    cursor: pointer;
  }
  .bigCalendar-container{
    height: 43em;
  }
  
.rbc-toolbar-label{
  text-transform: capitalize;
  font-weight: 700;
  /* margin-left: 10rem; */
}

.rbc-month-view{
  font-weight: 700;
}

.rbc-month-header{
  text-transform: capitalize;
}

.rbc-btn-group{
  font-weight: 700;
}
.rbc-toolbar span{
  font-size: 12px;
  justify-content: center;
}


/* formulario de inicio de sesion */

#submitButton{
  height: 2.5em;
  width: 10em;
  margin-top: 2em;
  font-size: 0.9em;
  text-align: center;
}

#email{
  height: 3em;
  font-size: 14px;
  margin-bottom: 1.5em;
}

#passsword{
  height: 3em;
  font-size: 14px;
}

.footerLoginModal{
  font-size: 12px;
}

.resetPassword{
  margin-top: 2em;
  font-size: 1em;
}

}

/* media querys */


@keyframes text{
  
  0%{ opacity: 0;}
  100%{opacity: 0.9;}
}
